In [34]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Load Dataset

In [47]:
columns=['mpg','cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 
         'car name']
df=pd.read_csv(r"C:\Users\Soumyajit Sarkar\Desktop\Tensorflow\Auto-mpg\Dataset\auto-mpg.data-original.csv",
               sep='\s+',names=columns)
print(df.shape)
df.head()

(406, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

#### Pre-Process the Dataset

##### 1. Missing value replacement

In [48]:
df.isnull().sum()

mpg             8
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [49]:
df['mpg']=df['mpg'].replace(np.nan,df['mpg'].mean())
df['horsepower']=df['horsepower'].replace(np.nan,df['horsepower'].mean())

##### 2. Changing COuntry of Origin to Categorical Data

In [50]:
df=pd.concat([df,pd.get_dummies(df['origin'])],axis=1)
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,1.0,2.0,3.0
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu,1,0,0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320,1,0,0

In [51]:
df=df.drop(['origin'],axis=1)
df=df.rename(columns={1:'USA',2:'Europe',3:'Japan'})
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,car name,USA,Europe,Japan
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,chevrolet chevelle malibu,1,0,0
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,buick skylark 320,1,0,0
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,plymouth satellite,1,0,0

#### Data Prep. for Model ( Y=Mpg)

In [ ]:
x=df[]